@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('../fonts/SEGA.woff') format('woff');
}

h1 {
  text-align: center;
  color: #ffffff;
  font-family: "SEGA LOGO FONT";
  font-weight: 200;
  font-size: 3rem;
}

.mainblock {
  text-align: center;
}

@import "app_media";