.searchfield {
  margin-bottom: 2.5rem;
  &__input {
    padding: 1rem;
    background-color: #679aff;
    border-color: #679aff;
    border-style: solid;
    border-width: 1px;
    outline:none;
    color: white;
    &::placeholder {
      color: white;
    }
  }
}