.card {
  display: inline-block;
  background: #679aff;
  text-align: center;
  color: white;
  padding: 1rem;
  margin: 0.5rem;
  transition:transform 0.25s ease-out;
  border-radius: 0.5rem;
  box-shadow:4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
  border-width: 0.25rem;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

@import "card_media";